.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #274de7c8;
}

p {
  font-size: 2rem;
  color: #739bd8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 80%;
}


