.main{
    display: flex;
    margin-top: 70px;
}
.a{
    padding: 7px;
    color: rgb(43, 108, 166);
    background-color: rgb(164, 199, 220);
    width: 150px;
    border-radius: 7px;
    font-size: 20px;
    transform: translateX(90px);
    margin-left: 10px;
    border-color:rgb(164, 199, 220) ;
    box-shadow: 4px 4px 7px gray;
}
.e{
    padding: 7px;
    color: rgb(43, 108, 166);
    background-color: rgb(164, 199, 220);
    width: 150px;
    border-radius: 7px;
    font-size: 20px;
    transform: translateX(90px);
    margin-left: 10px;
    border-color:rgb(164, 199, 220) ;
    box-shadow: 4px 4px 7px gray;
}
.b{
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(33, 83, 168);
    color: aliceblue;
    width: 200px;
    border-radius: 7px;
    font-size: 24px;
    margin-left: 30px;
    border-color:rgb(33, 83, 168) ;
    box-shadow: 5px 5px 7px gray;
    
}
.b:hover{
    background-color: green;
    transform: translateY(-10px);
    transition-duration: 0.5s;
}
h1{
    color: rgb(104, 104, 212);
    font-size: 45px;
    text-align: center;
    margin-top: -25px;
    transform: translateX(100px);
}
h3{
    font-size: 20px;
    text-align: center;
    transform: translateX(90px);
    margin-top: 30px;
}
.c{
    margin-left: 150px;
    margin-top: 10px;
}
.button{
    margin-left: 60px;
}
@media (max-width:500px){
    .main{
       flex-direction: column-reverse;
       margin-left: -60px;
    
    }
    .main div{
        margin: 2px auto;
    }
    img{
        margin-top: 50px;
        width: 100%;
        height: auto;
        margin-left: 150px;
    }
    h3{
        margin-top: -20px;
        margin-left: -130px;
    }
    h1{
        margin-left: -130px;
    }
    .e{
        margin-top: 10px;
        margin-left: 70px;
    }
    .c{
        display: flex;
        padding-left: 100px;
    }
    .button{
        padding-left: 100px;
        
    }

}
@media (min-width:501px) and (max-width:900px){
    .button{
        display: flex;
        

    }
    .c{
        display: flex;
    }
}
@media(min-width:901px) and (max-width:1280px){
    .c{
        display: flex;
    }

}