*{
    margin: 0;
    padding: 0;
}
nav{
    height: 80px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right:100px;
}
h3{
    margin-top: 35px;
    margin-left: -700px;
     
}
a{
    text-decoration: none;
    align-items: center;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 35px;
    
}
li{
    margin-left: 20px;
    color: black;
}
main{
    background-image: url("./crop.jpg");
    height: 630px;
    
}

h1{
    padding-top: 200px;
    /* padding-left: 300px; */
    font-size: 50px;
}
p{
    color: white;
    font-size: 25px;
    /* padding-left: 300px; */
    line-height: 60px;
}
button{
    padding:14px;
    border-radius: 40px;
    /* margin-left: 350px; */
    background-color: blue;
    color: white;
    margin-top: 20px;
    box-shadow: 4px 4px 10px rgb(162, 162, 212);
    font-size: 15px;
}
.fa-circle-arrow-down{
   background-color: blue;
    color: aliceblue;
    margin-left: -5px;
}
.icon{
    /* padding-left: 240px; */
    font-size: 25px;
    padding-top: 20px;
}
div i{
    margin-left: 18px;
    background-color: rgb(93, 54, 20);
    padding: 6px;
    border-radius: 50%;
}
.img{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-top: 200px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;

}
.logo{
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 40px;
}
.first{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin-bottom: -10px;
    margin-left: 50px;
}