*{
    padding: 0;
    margin: 0;
}
footer{
    height: 550px;
    background-color:#023460;
    margin-top: 10px;
}
.logo{
    padding: 30px;
    
}
.main{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.about{
    padding-top: 30px;
}
h4{
    font-weight: 100;
    margin-top: 10px;
    font-size: 15px;
}
h1{
    font-size: 18px;
}
.branch{
    width: 1300px;
    background-color: #0e4d84;
    height: 50px;
    margin-left: 110px;
    border-radius: 15px;
    
}
h5{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 100;
    color: aliceblue;
    padding-left: 15px;
    text-align: center;
}
.p {
    display: flex;
    color: rgb(213, 212, 212);
    
}
.privacy{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 160px;
    padding-top: 5px;
    
}
.facebook{
    font-size: 25px;
    padding-left: 40px;
    color:white;
    
}
.line{
    margin-top: 10px;
   border-bottom: 2px solid rgb(236, 230, 230) ;
   width: 1260px;
   margin-left: 130px;
}
a{
    text-decoration: none;
    color: rgb(180, 186, 191);
}